@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class=" card login-logout-tab" style="padding: 0px 0px 12px 0px">
            <div class="card-header" style="padding: 0px 0px 12px 0px">
                <ul class="nav nav-tabs card-header-tabs" style="margin: 0px 0px -12px 0px;">

                    <li class="nav-item" style="width:100%">
                        <a class="nav-link" style="font-size: 25px; color: #495057; text-align: center;" href="/Identity/Account/Register">Create User</a>
                    </li>
                </ul>

            </div>

            <div class="card-content " style="padding: 10px 20px;">

                <div class="col-md-12 card-content">
                    @RenderBody()

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @RenderSection("Scripts", required: false)
}
