@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
    <div class="text-center">

    <h1 class="display-4">User Management</h1>
    <img src="~/img/bg-03.jpg" class="responsive"/>
    <p></p>
</div>
